<html data-theme="bumblebee">
<head>
    <title>{{ app_title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    {% include 'custom.headers' ignore missing %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5.0.0/themes.css" rel="stylesheet" type="text/css" />
</head>
<body class="p-8">
<div id="content">
    <h1 class="text-2xl mb-3"><a href="/">{{ app_title }}</a></h1>
    <form method="POST" action="/" class="form pb-7">
        <div class="flex justify-left">
            <fieldset class="fieldset bg-base-200 border border-base-300 p-10 px-15 -ml-1 rounded-box">
                <label># of Options<BR>
                <input id="options" class="input mt-1" name="options" placeholder="2" size="7" maxlength="4" value="{{ options }}" autofocus></label>
                <BR>
                <label># of Rolls<BR>
                <input id="rolls" class="input mt-1" name="rolls" placeholder="100,000" size="7" maxlength="7" value="{{ rolls }}"></label>
                <BR>
                <label for="details">Show full results?&nbsp;
                {% if details == 1 %}
                    <input id="details" type="checkbox" name="details" value="1" checked></label><BR>
                {% else %}
                    <input id="details" type="checkbox" name="details" value="1"></label><BR>
                {% endif %}
                <input type="submit" class="btn btn-accent" value="Randomize!" onclick="$('#loading').show();">
            </fieldset>
        </div>
        <div id="loading" class="pt-8" style="display: none;"><span class="loading loading-circle loading-xl"></span></div>
    </form>
    {{ page_body|safe }}
</div>
</body>
</html>
